<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <title>Cadastre-se - SinTec</title>
</head>

    <body>
        <section class="area-login">
            <div class="login">

                <div>
                    <img src="./imagens/logo.jpg" alt="">
                </div>

                <form method="post">
                    <input type="text" name="nome" placeholder="Digite seu nome completo">
                    <input type="text" name="email" placeholder="Digite seu e-mail">
                    <input type="number" name="numero" placeholder="Digite seu telefone com DD">
                    <input type="password" name="password" placeholder="Senha">
                    <input type="submit" name="" id="" value="Cadastrar">
                </form>
                <p><a href="login.html">Já possui cadastro ? Acesse agora</a></p>
            </div>
        </section>
    </body>
</html>