<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SinTec - Sobre</title>
    <link rel="stylesheet" type="text/css" href="../css/sobre.css">
</head>

    <body>
        <h2 class="texto-1">Sobre a empresa</h2>
        <div id="area-sobre">
            <p class="texto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at laoreet metus.
                Sed sagittis eu est quis egestas. Curabitur consequat malesuada faucibus. Suspendisse 
                a lectus ante. Aenean et dictum diam, nec facilisis lorem. Pellentesque a pulvinar tellus. 
                Ut ullamcorper tortor vitae felis molestie, eget sollicitudin lorem fermentum. Nunc eget eros 
                non arcu vehicula tempor sed sed turpis. Sed at imperdiet augue. Donec tempus ipsum ipsum, a 
                eleifend ipsum auctor sit amet. Etiam tempus sem ut lorem mattis cursus. Vestibulum sed condimentum 
                sapien. Vestibulum a condimentum turpis. Curabitur fermentum pellentesque mi, a semper tortor cursus 
                sed. Sed erat risus, pretium eget ultrices ut, interdum ut est. Vestibulum faucibus diam ex, vel 
                aliquet odio maximus quis.
            </p>
        </div>
    </body>

</html>